@media (min-width: 1150px) {
    .main-body {
        width: 70%;
    }

    .wrapper {
        width: 100%;
    }
}



@media (max-width: 830px) {
    
    .main-body {
        width: 90%;
    }

    #navigator ul {
        margin: 0 auto;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    article {
        width: 80%;
        float: none;
        margin: 10px auto;
    }

    /* article {
        display: block;
    } */

}

@media (max-width: 490px) {
    .main-body {
        width: 98%;
    }

    .article {
        width: 95%;
        float: none;
        margin: 10px auto;
    }
}