*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    background-image: url("../img/retro-background.jpg")
}

h2,
h3 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Play', sans-serif;
    margin: 0;
}

h4 {
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bbb;
}

h4 ~ h4 {
    border-top: 3px solid #aaa;
}

h4, h5, p, article ol li {
    font-family: 'Raleway', sans-serif;
    color: #f5f5f5;
}

article ol,
artile ul {
    margin: 0;
}

article ol li {
    margin: 0.75em 0;
}

p {
    margin-bottom: 30px;
}

.drop-cap::first-letter {
    float: left;
    font-size: 25px;
    color: #21a39c;
    background: white;
    padding: 3px 5px;
    margin: 5px;
    border-radius: 5px;
    line-height: 22px;
}

.mainpage-links {
    height: 75px;
}

.soft-link {
    display: block;
    width: 100%;
    /* height: 100%; */
    text-decoration: none;
}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
}
nav ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    border-right: solid white 1px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
}

a:link,
a:visited {
    color: white;
    -webkit-transition: color .25s linear;
    -moz-transition: color .25s linear;
    -ms-transition: color .25s linear;
    -o-transition: color .25s linear;
    transition: color .25s linear;
}

a:hover,
a:active {
    color: rgb(255, 0, 255);
}

.main-body {
    background-color: #aae6ee;
    border: solid #edf518 10px;
    border-radius: 15px;
    /* border-left: solid #edf518 10px; */
    width: 800px;
    margin: 0 auto;
    box-shadow: inset 0 0 10px black, 0 0 30px black;
}

header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../img/headfoot.jpg");
    color: magenta;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.topic-header {
    text-align: center;
}

.wrapper {
    width: 100%;
    /* display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center; */
}

article {
    background-color: #21a39c;
    border: solid black 1px;
    border-radius: 5px;
    padding: 5px;
    width: 48.5%;
    margin: 5px 5px;
    float: left;
}

pre {
    overflow: auto;
    width: 100%;
    background-color: #eee;
    width: 345px;
    max-height: 600px;
    border-radius: 5px;
  }

code {
    font-family: 'VT323', monospace;
    font-size: 16px;
    padding-left: 1em;
  }

.code-ran {
    border: dashed white 2px;
    margin-bottom: 5px;
    padding: 0 5px;
    text-align: left;
    color: white;
    text-shadow: 0 0 5px black;
  }

.compress {
    display: inline;
}

.notation {
    color: red;
}

footer {
    background-color: #555;
    color: magenta;
    padding: 20px 10px;
    background-image: url("../img/headfoot.jpg");
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.clearfix {
    clear: both;
}

#button-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    border: solid black 3px;
    outline: none;
    background: linear-gradient(#edf518, magenta);
    color: #aae6ee;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 0 0 3px black;
}

#button-to-top:hover {
    background-color: magenta;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    color: magenta;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(#edf518, magenta);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: rgba(255,255,255,0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#form-convert {
    width: 100%;
}

#code, #converted {
    width: 100%;
}
